* {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#demo {
	background-color: lightblue;
	width: 70%;
	max-width: 700px;
	margin: 5% auto;
	text-align: center;
	padding: 5% 0;
	font-size: 20px;
}

#content {
	/* background-color:lightgreen; */
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	/* align-items: stretch; */
	grid-gap: 5% 5%;

}

#content .item1 {
	/* background-color: red; */
	grid-column: 1 / 2;
	text-align: right;
	white-space: nowrap;
}

#content .item2 {
	/* background-color: yellow; */
	grid-column: 2 / 4;
	text-align: right;

}

input[type="text"] {
	border: 1px solid black;
}


/* mobile */
@media only screen and (max-width: 600px) {
	#demo {
		width: 100%;
		font-size: 16px;
	}

	#content {
		grid-gap: 1%;
	}

	#content .item1 {
		grid-column: 1 / 4;
		text-align: left;
	}

	#content .item2 {
		grid-column: 1 / 4;
		text-align: right;
	}

}
